<div class="col-10 offset-1 about">
<h1>About Splurty</h1>

<p> 
  Splurty was built by <a target="_blank" href="http://github.com/lisarics"> Lisa Richardson</a>. A web designer who is on a mission to aquire the technical skills to launch her own MVPs and turn ideas into reality.
</p>
<br />
<p>Over the past several years Lisa has been learning how to code by education, practise and passion.  She has also encourage many others to do the same.
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'lisa.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Lisa Richardson</h2>
    <br />
    <p>
      Lisa Richardson is a web developer and IT professional.  She works at a start-up company in Miami, FL. who specialize in aerial imagery and data.
    </p>
  </div>
 </div>
</div>

<br class="clear" />

<br />
<br />
<br />
<br />
