

@import "bootstrap";

.clear {
  clear:both;

}
.bubble {
  width: 140px;
  height: 140px;
 
  position: relative;
  left: 30px;
  top: 10px;
  border: 3px solid #000000;
  background: #f84342;
  border-radius: .9em;
  text-align: center;
  color: white;
  font-size: 28px;
  font-wieight: bold;

}

.bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #f84342;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.speech-bubble h1 {
    margin: 0;
    font-size: 150%;
    font-family: sniglet;
  }





.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

  font-style: italic;
  padding-top: 26px;
}

.links{
  padding-top: 26px;
}

.links a{
  color: black;
  font-size: 26px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'caviar_dreamsbold', sans-serif;
}

header{
  border-top: 9px solid #222222
}

hr{
  clear: both;
}

h1{
 font-family: 'caviar_dreamsbold', sans-serif;
 font-size: 48px;
}

h2{
  font-family: 'caviar_dreamsregular', sans-serif;
}
.next-quote{
  color: #ff0000;
  font-family: 'caviar_dreamsregular', sans-serif;
  font-size: 20px;
}

.footer-blurb{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

  font-style: italic;
  text-align: right;
  text-size: 10px;
}
.logo:hover {
  text-decoration: none;
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  }

  @media (max-width: 750px) {
      .footer-blurb{
      text-align: left;
      }

  }

  .modal{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook"
  }

  h2 span {
    color: #dddddd;
    font-family: 'caviar_dreamsbold', sans-serif;
 font-size: 36px;
  }

  ::selection {
    background-color: #f84342;
  }